[submodule "SproutEngine/Externals/googletest"]
	path = SproutEngine/Externals/googletest
	url = https://github.com/google/googletest.git
[submodule "SproutEngine/Externals/spdlog"]
	path = SproutEngine/Externals/spdlog
	url = https://github.com/gabime/spdlog.git
